body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  width: 80vw;
  background-color: #ffffff;
}

.header {
  width: 100%;  /* Asegura que ocupe todo el ancho disponible */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.button-usuario,
.button-formulario {
  margin: 0 10px;
  padding: 30px 40px;
  font-size: 25px;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.button-usuario {
  background-color: rgb(154, 231, 30);
  color: #030303;
}

.button-formulario {
  background-color: rgb(33, 159, 68);
  color: #000000;
}

.background-image {
  opacity: 0.6;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
}

.logout-icon {
  font-size: 24px;
  color: #030303;
  text-decoration: none;
}

.logout-icon:hover {
  color: #218838;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .container {
    width: 100vw;  /* Ajusta el ancho al 100% del viewport en pantallas pequeñas */
  }

  .header h1 {
    font-size: 24px;  /* Reduce el tamaño de fuente para que se ajuste mejor */
    text-align: center;  /* Asegura que el texto esté centrado */
    padding: 0 10px;  /* Añade un pequeño padding para evitar que el texto toque los bordes en pantallas pequeñas */
  }
}